.right-info {
  padding: 20px 18px 20px 18px;
  background-color: $basic-light-grey;
  margin-bottom: 17px;
  color: $basic-grey;
}
.right-info__header {
  margin: 0;
  font-size: 14px;
  margin-bottom: 21px;
}
.right-info__list {
  margin-bottom: 22px;
  padding-left: 45px;
}
.right-info__text {
  margin: 0;
}
